{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <h1>Connexion à votre compte</h1>

    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    {% if app.user %}
        <div class="alert alert-info">
            Vous êtes déjà connecté en tant que {{ app.user.email }}.
        </div>
    {% endif %}

    <form method="post" action="{{ path('app_login') }}">
        <div>
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" value="{{ last_username }}" required autofocus>
        </div>

        <div>
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" required>
        </div>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button type="submit">
            Connexion
        </button>
    </form>

    <p>Pas encore inscrit ? <a href="{{ path('user_create') }}">Créer un compte</a></p>
{% endblock %}
