{% extends 'base.html.twig' %}

{% block title %}Modifier la formation{% endblock %}

{% block body %}
<h1>✏️ Modifier la formation</h1>

{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.price) }}
    {{ form_row(form.imageUrl) }}
    {{ form_row(form.category) }}

    <button class="btn btn-warning">Mettre à jour</button>
{{ form_end(form) }}

<a href="{{ path('admin_formation_index') }}" class="btn btn-link mt-3">← Retour</a>
{% endblock %}
