{% extends 'base.html.twig' %}

{% block title %}Nouvelle Formation{% endblock %}

{% block body %}
    <h1>Créer une formation</h1>

    {{ form_start(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.price) }}
        {{ form_row(form.imageUrl) }}
        
        {# 🏷️ Sélection de la catégorie (menu déroulant) #}
        {{ form_row(form.category) }}

        <button class="btn btn-primary mt-3">Créer</button>

    {{ form_end(form) }}
{% endblock %}
