<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}LEFA{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">LEFA</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
    <li class="nav-item">
        <a href="/boutique/adminformations" class="nav-link">Gérer Formations</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('category_index') }}" class="nav-link"> Gérer Catégories</a>
    </li>
{% endif %}


                {% if app.user %}
                    <li class="nav-item text-white me-3">
                        Utilisateur : {{ app.user.fullName }}
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_logout') }}" class="nav-link">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('app_login') }}" class="nav-link">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('user_create') }}" class="nav-link">Inscription</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<main class="container">
    {% block body %}{% endblock %}
</main>



<a class="navbar-brand" href="{{ path('home') }}">LEFA</a>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
