{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Modifier mon profil</h1>
    {{ form_start(form) }}
        {{ form_row(form.fullName) }}
        {{ form_row(form.email) }}
        {{ form_row(form.address) }}
        <button class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}
</div>
{% endblock %}
